In [161]:
import pandas as pd
import os
from glob import glob

In [162]:
os.getcwd()

'C:\\Data Science Learning\\Projects\\Volatility Regime Detection in Stock Returns\\data_Ingestion'

In [163]:
raw_data_path=r"C:\Data Science Learning\Projects\Volatility Regime Detection in Stock Returns\data\Nifty_historical_index_data"

In [164]:
csv_files = glob(os.path.join(raw_data_path,"*.csv"))
print(f"Total files found{len(csv_files)}")

Total files found11

In [165]:
df_list = []

for file in csv_files:
    df=pd.read_csv(file)
    df_list.append(df)

raw_df = pd.concat(df_list,ignore_index=True)

raw_df.head()

,Date,Open,High,Low,Close,Shares Traded,Turnover (₹ Cr)
0,31-DEC-2014,8243.90,8291.00,8243.75,8282.70,84532600,4221.32
1,30-DEC-2014,8260.30,8268.25,8220.55,8248.25,77695770,3460.46
2,29-DEC-2014,8214.70,8279.15,8214.70,8246.30,82086035,3340.07
3,26-DEC-2014,8204.80,8234.55,8147.95,8200.70,75528707,2995.12
4,24-DEC-2014,8272.05,8286.40,8155.25,8174.10,221905876,11229.76

In [166]:
raw_df.rename(columns={"Turnover (₹ Cr)":"Turnover"},inplace=True)

In [167]:
raw_df.columns = raw_df.columns.str.strip().str.lower()
raw_df.columns

Index(['date', 'open', 'high', 'low', 'close', 'shares traded', 'turnover'], dtype='object')

In [168]:
required_cols = ["date","close"]

if "volume" in raw_df.columns:
    required_cols.append("volumn")
elif "turnover" in raw_df.columns:
    required_cols.append("turnover")

print(required_cols)

['date', 'close', 'turnover']

In [169]:
df = raw_df[required_cols].copy()

In [170]:
df.head()

          date    close  turnover
0  31-DEC-2014  8282.70   4221.32
1  30-DEC-2014  8248.25   3460.46
2  29-DEC-2014  8246.30   3340.07
3  26-DEC-2014  8200.70   2995.12
4  24-DEC-2014  8174.10  11229.76

In [171]:
df["date"]=pd.to_datetime(df["date"],dayfirst=True,errors="coerce")

C:\Users\Paras Shirish Vaidya\AppData\Local\Temp\ipykernel_22924\3283202490.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["date"]=pd.to_datetime(df["date"],dayfirst=True,errors="coerce")

In [172]:
df.head()

        date    close  turnover
0 2014-12-31  8282.70   4221.32
1 2014-12-30  8248.25   3460.46
2 2014-12-29  8246.30   3340.07
3 2014-12-26  8200.70   2995.12
4 2014-12-24  8174.10  11229.76

In [173]:
#Cleaning Numerical Columns
for col in ["close","volunme"]:
    if col in df.columns:
        df[col] = (
            df[col].astype(str).str.replace(",","",regex=True).astype(float)
        )

In [174]:
#Sorting values according to date
df = df.sort_values("date",ascending=True).reset_index(drop=True)

In [191]:
#Handling Duplicate values
df.drop_duplicates(subset="date",inplace=True)
df.dropna(subset=["date","close"],inplace=True)

In [193]:
print("Start Date:",df["date"].min())
print("End Date:",df["date"].max())
print("Total Row",df.shape[0])
df.head()

Start Date: 2014-01-01 00:00:00
End Date: 2025-12-19 00:00:00
Total Row 2715

        date    close  turnover
0 2014-01-01  6301.65   2015.36
1 2014-01-02  6221.15   5249.79
2 2014-01-03  6211.15   5369.42
3 2014-01-06  6191.45   4722.67
4 2014-01-07  6162.25   5696.60

In [ ]:
PROCESSED_PATH = r"C:\Data Science Learning\Projects\Volatility Regime Detection in Stock Returns\data\02_Processed_data"
os.makedirs(PROCESSED_PATH,exist_ok=True)
df.to_csv(f"{PROCESSED_PATH}/nifty_processed.csv",index=False)

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Paras Shirish Vaidya\AppData\Local\Temp\ipykernel_22924\1613325298.py:1: SyntaxWarning: invalid escape sequence '\D'
  PROCESSED_PATH = "C:\Data Science Learning\Projects\Volatility Regime Detection in Stock Returns\data\Processed_data"